<%= render 'layouts/navigation' %>

<div class="main">

<div id="search">

<div class="search-tools">
  <div class="filter">
   
  <div class="tooltip-item tooltip-inner">
      <label>I am  </label>
  <div class="tooltip">
     <ol>
        <li>
          <input id="small" type="checkbox">
          <label for="small">A woman</label>
        </li>
        <li>
          <input id="medium" type="checkbox">
          <label for="medium">A man</label>
        </li>
      </ol>
  </div>
</div>
</div>
   <div class="filter">
   
  <div class="tooltip-item">
      <label>I am looking for </label>
  <div class="tooltip">
     <ol>
        <li>
          <input id="small" type="checkbox">
          <label for="small">A woman</label>
        </li>
        <li>
          <input id="medium" type="checkbox">
          <label for="medium">A man</label>
        </li>
      </ol>
  </div>
</div>
</div>

  <div class="filter">
   
  <div class="tooltip-item">
      <label>I live in</label>
  <div class="tooltip">
     <ol>
        <li>
          <input id="small" type="checkbox">
          <label for="small">City</label>
        </li>
        <li>
          <input id="medium" type="checkbox">
          <label for="medium">City</label>
        </li>

        <li>
          <input id="medium" type="checkbox">
          <label for="medium">City</label>
        </li>
      </ol>
  </div>
</div>
</div>

<br>

  <div class="trigger">
    <button>Search</button>
  </div>
</div>

<br>

<div id="slider">

  
       <div class="filtering">

        <h3>Users online</h3>
  
          <div><img src="http://lorempixel.com/150/150/nightlife/1"></div>
          <div><img src="http://lorempixel.com/150/150/nightlife/2"></div>
        <div><img src="http://lorempixel.com/150/150/nightlife/5"></div>
         <div><img src="http://lorempixel.com/150/150/nightlife/6"></div>
          <div><img src="http://lorempixel.com/150/150/nightlife/6"></div>

          <div><img src="http://lorempixel.com/150/150/nightlife/7"></div>
          <div><img src="http://lorempixel.com/150/150/nightlife/8"></div>
           <div><img src="http://lorempixel.com/150/150/nightlife/9"></div>
            <div><img src="http://lorempixel.com/150/150/people/5"></div>

          
        </div>
  
  </div>
</div>

<div id="search_results"><hr>
    <ul>
      
        <li class="block"><img src="http://lorempixel.com/400/300/nightlife/1"></li>
        <li class="block"><img src="http://lorempixel.com/400/300/people/2"></li>
        <li class="block"><img src="http://lorempixel.com/400/300/nightlife/3"></li>
        <li class="block"><img src="http://lorempixel.com/400/300/people/4"></li>

        <li class="block"><img src="http://lorempixel.com/400/300/nightlife/5"></li>
        <li class="block"><img src="http://lorempixel.com/400/300/people/6"></li>
        <li class="block"><img src="http://lorempixel.com/400/300/nightlife/7"></li>
        <li class="block"><img src="http://lorempixel.com/400/300/people/8"></li>

        <li class="block"><img src="http://lorempixel.com/400/300/people/5"></li>
        <li class="block"><img src="http://lorempixel.com/400/300/nightlife/6"></li>
        <li class="block"><img src="http://lorempixel.com/400/300/people/7"></li>
        <li class="block"><img src="http://lorempixel.com/400/300/nightlife/8"></li>
    </ul>

</div>


