// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
	background: $base-body-color;
}

#search_results{
  @include outer-container;
  li.block {
  @include span-columns(3);
  @include omega(4n);
   margin-bottom: $gutter;
	}

  padding: $gutter;
}

#slider {
  @include outer-container;
   .filtering {
   @include span-columns(8);
  @include shift(2);

	}


}

#facebook {
  @include outer-container;
   button {
   @include span-columns(6);
   @include shift(3);
   @include reset-display;
	}
	h3 {
   @include span-columns(8);
   @include shift(2);
	}
}

.search-tools {
  $search-tools-border-color: $base-border-color;
  $search-tools-background: lighten($search-tools-border-color, 10);

  @include clearfix;
  border: 1px solid $search-tools-border-color;
  background: $search-tools-background;
  padding: $gutter * 2;
  border-radius: $base-border-radius;

  .filter {
    margin-bottom: 1em;

    @include media($large-screen) {
      @include span-columns(3.5);
      margin-bottom: 0;
    }

    > div {
      @extend input[type="text"];
      position: relative;

      label {
        font-weight: 400;
        cursor: pointer;
        margin-bottom: 0;
      }
    }

    ol label {
      display: inline;
    }

    button {
      @include button(simple, lighten($search-tools-background, 10));
      @include position(absolute, 5px 5px auto auto);
      font-size: .7em;
    }

    .hide-options {
      margin-bottom: 0;

      ol, button {
        display: none;
      }
    }
  }

  .trigger {
    width: 100%;

    @include media($large-screen) {
      @include span-columns(1.5);
    }

    button {
      width: 100%;
      margin-top: 1em;
      padding-top: .7em;
      padding-bottom: .7em;

      @include media($large-screen) {
        margin-top: 1.95em;
      }
    }
  }
}


